.starClass{
  width: 100%;
}
.star {
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #d3d3d3;
}
.full {
  color: green;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: green;
}