<p *ngIf="!skills"><em>Loading...</em></p>

<table id="skilltable" class='table' *ngIf="true">
  <thead>
    <tr>
      <th class="colSort" (click)="this.sortTable(0)"></th>
      <th (click)="this.sortTable(0)">Skill</th>
      <th class="colName" (click)="this.sortTable(2)">Name</th>
      <th class="colRating" (click)="this.sortTable(3)">Level</th>
      <th class="colContent big-screen" (click)="this.sortTable(4)" #content>Description</th>
      <th class="colContent small-screen" (click)="this.sortTable(4)"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of skills">
      <td class="colSort"><span>{{ s.relevance }}</span></td>
      <td class="colIcon">
        <div class="iconDiv"><img style="height: 100%" src="{{s.src}}"></div>
      </td>
      <td class="colName">{{ s.name }}</td>
      <td class="colRating">
        <stars [value]="s.rating"></stars>
      </td>
      <td class="colContent big-screen">
        <div>{{ combine(s.content) }}</div>
      </td>
      <td class="colInfo small-screen"> 
        <i class="fa fa-info-circle" (mouseenter)="over($event)" placement="left"
          (mouseout)="out($event)" ngbPopover="{{s.content}}"
          popoverTitle="{{s.name}}"></i>
      </td>
    </tr>
  </tbody>
</table>