
<button type="button" class="btn btn-link" (click)="this.requestWeather()">Get Weather</button>

<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Select Location</button>
    <div ngbDropdownMenu aria-labelledby="dropdownManual">
      <button ngbDropdownItem *ngFor="let loc of dropDownItems" (click)="select($event)">
          {{loc}}</button>
    </div>
    </div>

<div >
    <hr/>
     <div  class="outerdiv">
            <h6>Current Conditions</h6>
            <div>{{this.weather.location}}</div>
            <br/>
            <div class=innerdiv >
            <current-conditions [data]="this.weather"></current-conditions>
        </div>
    </div>
 </div>
